.quest {
  padding: {
    top: 66px;
    bottom: 70px;
  }
}

.quest__title {
  margin-bottom: 60px;
  font: 6.896em $font-roboto-thin;
  text-align: center;
  color: $color-dark-grey;
}

.quest__form-section {
  padding-bottom: 72px;
  text-align: center;
}

.quest__form-icon {
  margin-bottom: 20px;
}

.quest__form-section-title {
  margin-bottom: 48px;
  font: 2.998em $font-roboto-light;
  color: $color-dark-grey;
}

.quest__inputs-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.quest__input {
  @include placeholder {
    text-align: center;
    color: $color-light-grey;
  }
  padding: {
    left: 5%;
    right: 5%;
  }
  font: 2.399em $font-roboto;
  color: $color-dark-grey;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  outline: none;
  &--personal {
    position: relative;
    width: 57%;
    margin-bottom: 25px;
    padding: {
      top: 15px;
      bottom: 15px;
    }
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &--year-select {
    width: 41.5%;
    padding-left: 11%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    color: $color-dark-grey;
    background: url("../img/tick-select.svg") no-repeat 95% center;
    outline: none;
  }
  &--w-margin {
    margin-top: 23px;
  }
}

.quest__year-option {
  text-align: center;
  color: $color-blue;
  outline: none;
}

.quest__form-section--experience {
  padding-bottom: 130px;
}

.quest__form-section-title--experience {
  margin-bottom: 44px;
}

.quest__checkboxes {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.quest__input-block {
  width: 27%;
  text-align: left;
}

.quest__input--experience {
  display: none;
}

.quest__label {
  position: relative;
  padding-left: 30px;
  font: 1.599em/2.1876172608em $font-roboto-light;
  color: #000;
  &::before {
    @include pseudo;
    top: 50%;
    left: -2px;
    width: 21px;
    height: 21px;
    background: url("../img/checkbox.svg") no-repeat center;
    transform: translate(0, -50%);
  }
  &:hover::before {
    background: url("../img/checkbox-hover.svg") no-repeat center;
  }
}

.quest__input[id="methodology"]:checked~.quest__label[for="methodology"]::before,
.quest__input[id="semantic"]:checked~.quest__label[for="semantic"]::before,
.quest__input[id="webpack"]:checked~.quest__label[for="webpack"]::before,
.quest__input[id="preprocessor"]:checked~.quest__label[for="preprocessor"]::before,
.quest__input[id="js"]:checked~.quest__label[for="js"]::before,
.quest__input[id="jquery"]:checked~.quest__label[for="jquery"]::before,
.quest__input[id="svg"]:checked~.quest__label[for="svg"]::before,
.quest__input[id="automat"]:checked~.quest__label[for="automat"]::before,
.quest__input[id="git"]:checked~.quest__label[for="git"]::before {
  background: url("../img/checkbox--active.svg") no-repeat center;
}

.quest__input[id="methodology"]:checked~.quest__label[for="methodology"]::after,
.quest__input[id="semantic"]:checked~.quest__label[for="semantic"]::after,
.quest__input[id="webpack"]:checked~.quest__label[for="webpack"]::after,
.quest__input[id="preprocessor"]:checked~.quest__label[for="preprocessor"]::after,
.quest__input[id="js"]:checked~.quest__label[for="js"]::after,
.quest__input[id="jquery"]:checked~.quest__label[for="jquery"]::after,
.quest__input[id="svg"]:checked~.quest__label[for="svg"]::after,
.quest__input[id="automat"]:checked~.quest__label[for="automat"]::after,
.quest__input[id="git"]:checked~.quest__label[for="git"]::after,
{
  @include pseudo;
  top: 50%;
  left: 1%;
  width: 13px;
  height: 8px;
  background: url("../img/tick-checkbox.svg") no-repeat center;
  transform: translateY(-50%);
}

.quest__form-section--js-skills {
  padding-bottom: 104px;
}

.quest__form-section-title--js-skills {
  margin-bottom: 45px;
}

.quest__form-section--about-me {
  padding: {
    bottom: 68px;
    left: 17%;
    right: 17%;
  }
}

.quest__form-section-title--about-me {
  margin-bottom: 12px;
}

.quest__form-section-desc {
  margin-bottom: 36px;
  padding-left: 0.5%;
  font: 1.599em/1.6em $font-roboto-light;
  color: $color-dark-grey;
}

.quest__input--about-me {
  @include placeholder {
    text-align: left;
    color: #c8c8c8;
  }
  width: 93%;
  height: 160px;
  padding: {
    top: 17px;
    left: 3%;
  }
  font: 1.999em $font-roboto;
}

.quest__form-section--submit {
  padding: {
    top: 0;
    bottom: 0;
  }
}

.quest__input--submit {
  width: 115px;
  padding: 0;
  padding: {
    top: 15px;
    bottom: 16px;
  }
  font: 1.599em $font-roboto-light;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}

@media only screen and (max-width: 767px) {
  .quest {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .quest__form-icon {
    margin-bottom: 10px;
  }
  .quest__title {
    margin-bottom: 20px;
  }
  .quest__form-section {
    padding-bottom: 22px;
  }
  .quest__form-section-title {
    margin-bottom: 28px;
  }
  .quest__input {
    font: 1.6em $font-roboto;
  }
  .quest__input--personal {
    width: 80%;
  }
  .quest__input--year-select {
    width: 90%;
    padding-left: 5%;
  }
  .quest__checkboxes {
    flex-direction: column;
    align-items: center;
  }
  .quest__label {
    display: block;
    width: 170px;
    margin-bottom: 10px;
  }
  .quest__form-section--about-me {
    padding: {
      bottom: 38px;
      left: 0;
      right: 0;
    }
  }
  .quest__input--about-me {
    width: 80%;
  }
}

@media only screen and (max-width: 550px) {
  .quest__checkboxes {
    align-items: flex-start;
    padding-left: 10%;
  }
}
